
<div class="cont">

<div class="container"  ><br><br><br><br><br><br>
   
    <div class="all">
        
        <h1 class="header"><i>Welcome to the {{nameGrup}} group</i></h1><br><br><br><br>
        <div class="buttons" >
            <button class="button-add" routerLink='/add-a-player'>
                <p style="color: honeydew; font-size: 25px"><b>Add a Player</b></p>
            </button>
            <button class="button-show" routerLink='/show-players'>
            <p style="color: honeydew; font-size: 25px"><b>To watch the players </b> </p>
            </button>

        <button class="button-history" routerLink='/history'>
            <p style="color: honeydew; font-size: 25px"><b>History</b> </p>
        </button>
        </div><br><br><br><br><br>

        <button id="newGame" type="button" class="btn btn-secondary" routerLink='/play'><b>New game</b></button>
    </div>
</div>

</div>


