<div class="cont">

<div class="container" ><br><br><br>
 
    <h1 style="text-decoration: underline; font-size: 70px; text-align: center; color: orangered;">List of players </h1><br><br>

    <div *ngIf= 'notPlayers' style="text-align: center">
      <p style="font-size: 30px; color: rgb(102, 99, 99);">No players</p>
      <p>To add a player click here</p>
      <button type="button"  class="btn btn-success"  routerLink='../add-a-player'>Click</button>
    </div>


    <div class="allCard"  *ngIf='arr'>
        <div class="wrap" *ngFor='let i of arr'>
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src={{i.image}}  style="width:200px;height:230px; ">
                  </div>
                  <div class="flip-card-back">
                    <h1 style="text-decoration: underline;">{{i.name}}</h1><br> <br>
                    <h3>{{i.height}}m</h3> 
                    <h5>{{i.position}}</h5>
                  </div>
                </div>
              </div>
              <br> <button type="button" class="btn btn-danger"  (click)='delete(i.id)'>Delete</button>
            </div>
    </div>
</div>

</div>